
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.text-disabled {
  color: #524c5b;
}

.text-center {
  text-align: center;
}

.btn-raised {
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 6px 0px #bbb;
  cursor: pointer;
}